.container{
    display: flex;
    min-width: 350px;
}

.card{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    border: 1px solid grey;
    border-radius: 5px;
}

.card-head{
    margin-top: 2rem;
    font-size: 35px;
    padding-left: 1rem;
}

.card-sub-head{
    margin-bottom: 1.5rem;
    padding-left: 1rem;

}

.card-content{
    padding-bottom: 1.5rem;
    padding-left: 1rem;
}


.btn-box{
    margin: 0.5rem;
}

.card-btn{
    background-color:darkcyan;
    color: beige;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}



